/.vscode
/functionInputTesting.py
/importTesting.py
/methodTimer.py
/output
/points.kml
/tcxRunning.py
/tcx_to_kml - Copy.py
/THEY_DONT_KNOW_ME_SON.tcx
/__pycache__
/tcx-test-files-main
/example1.tcx
/tcx-to-kml.py
/.gitignore